//
@import 'partials/vars';
@import 'partials/global';
@import 'partials/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

// JUMBOTRON
#jumbo{
    height: 400px;
    background-image: url('../../public/img/jumbotron.jpg');
    background-size: cover;
    position: relative;
}
#current-series{
  position: absolute;
  color: white;
  padding: 10px 20px;
  background-color: $brand-color;
  bottom: -20px;
  left: 210px;
}

// MAIN
main{
    background-color: rgb(28, 28, 28);
    p{
        color: white;
    }
}

#card-main{
    display: flex;
    flex-wrap: wrap;
}

#load-more{
    width: 100%;
    text-align: center;
    button{
        margin: 30px;
        padding: 8px 30px;
        background-color: $brand-color;
        color: white;
        cursor: pointer;
    }
}