.container {
  width: 70%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#jumbo {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  position: relative;
}

#current-series {
  position: absolute;
  color: white;
  padding: 10px 20px;
  background-color: rgb(2, 130, 249);
  bottom: -20px;
  left: 210px;
}

main {
  background-color: rgb(28, 28, 28);
}
main p {
  color: white;
}

#card-main {
  display: flex;
  flex-wrap: wrap;
}

#load-more {
  width: 100%;
  text-align: center;
}
#load-more button {
  margin: 30px;
  padding: 8px 30px;
  background-color: rgb(2, 130, 249);
  color: white;
  cursor: pointer;
}